
body
{
    margin: 1%;
    padding: 1%;
    background:url(../images/background.png) center center no-repeat;
    background-size: cover;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
#bg
{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background-color: black;
    opacity: .5;
    display: none;
    z-index: 90;
}
#topframe
{
    text-align: center;
    margin: 3vh;
}
#searchtxt
{
    width:100%;
    background: url(/assets/images/searchbar.png) center center no-repeat;
}
#featureframe
{
    float:right;
}
#loginicon
{
    cursor: pointer;
    width:60px;
    height:60px;
}
/*                         login                                      */
#loginframe
{
    display: none;
    position: fixed;    /* 讓element不穿透 + z-index*/
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: 99;

}
#loginpanel
{
    border-radius: 5px;
    position: fixed;
    width: 20vw;
    height: 50vh;
    top: 20%;
    left: 40%;
    background-color: rgb(237, 240, 241);
    display: -webkit-flex; 
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 1;
    font-family: Tahoma,Helvetica,Arial,'宋体',sans-serif;

}
.logintxt
{
    padding: 5%;
    width: 16vw;
    height: 8vh;
    font-size: 20px;
    margin: 1%;
    font-family: Courier, Courier, monospace;
}
#loginexit
{
    width:20px;
    height:20px;
    cursor: pointer;
}
#titleimg:hover
{
    width:30%;
    
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    transition: width 1s;
}
#titleimg:not(:hover)
{
    width:20%;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    transition: width 1s;
}
::-webkit-scrollbar {
    width: 15px;
    
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#centerframe
{
   margin:0 auto;
   height:60%;
   overflow: hidden;
   
   
}
#centerframe:hover
{
    position: relative;
    left:7.5px;
    overflow-y: scroll;
    
}
/* python 後台data */
#maintable
{
    font-family: serif;
    margin: 0 auto;
    
}
.classimage
{
    width:40vw;
    height:50vh;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    transition: .7s;
}
.classimage:active
{
    width:60vw;
    height:60vh;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    transition: .7s;
}
#darkbackground
{
    position:fixed;
    z-index:99;
    top:20%;
    left:25%;
    width:55vw;
    height:70%;
}
#bottomframe
{
    position: absolute;
    left:2%;
    top:30%;
    /* display: flex; */
    
}
.menudata,.menuclass,.menuthree   /*   the first btn menu   */
{
    margin:0 auto;
    opacity: .5;
    display: none;
    border-radius:  2px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    background-color: #f3bf8d;
    height:40px;
    width:150px;
    font-size:32px;
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
    -webkit-transition: transform .5s;
    transition:  transform .5s;
}
.menudata:hover,.menuclass:hover,.menuthree :hover
{
    opacity: 1;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari */
    transform: scale(1.05);
     -webkit-transition: opacity .5s,transform .5a;
    transition: opacity .5s,transform .5s;
}

.Btnstyle
{
    border-radius: 5px;
    box-sizing: border-box;
    padding-top:2px;
    cursor: pointer;
    text-align: center;
    font-family: Microsoft JhengHei, Helvetica, sans-serif;
    /*display: inline-block;*/
    height:60px;
    width:160px;
    font-size:36px;
    color:#0c201c;
    background-color: rgb(156, 114, 58);
    /* margin: 20px; */
    opacity: .5;
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
    -webkit-transition: transform .5s;
    transition:  transform .5s;
    /* z-index: 1; */

}
.Btnstyle:hover
{
    opacity: 1;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari */
    transform: scale(1.05);
     -webkit-transition: opacity .5s,transform .5a;
    transition: opacity .5s,transform .5s;
}

.loginstyle
{
    box-sizing: border-box;
    padding-top:2px;
    cursor: pointer;
    text-align: center;
    font-family: Microsoft JhengHei, Helvetica, sans-serif;
    /*display: inline-block;*/
    height:50px;
    width:150px;
    font-size:30px;
    color:#a8caeb;
    background-color: rgb(38, 27, 245);
    /* margin: 20px; */
    opacity: .5;
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
    -webkit-transition: transform .5s;
    transition:  transform .5s;

}
.loginstyle:hover
{
    opacity: 1;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari */
    transform: scale(1.05);
     -webkit-transition: opacity .5s,transform .5a;
    transition: opacity .5s,transform .5s;
}