
# mac os file 

.DS_Store

# some file for local test

*.yml

node_modules/

BackStage/ 

# project name 


# GSC google search console 
GSC/

ADB/
Chatroom/ 
class_for_python/
Docker/
GameFrame/
JSDesignPattern/
KWCFrame/
LoginFrame/
myChicks/
PythonClass/
WorkSchedule/

