span
{
	margin-left:2%;
}
.title_icon
{
	position:absolute;
	font-size: 14px;
	right:5%;
	width:20%;
	/*background-color:#ffff00;*/
}
.top_icon
{
	float:left;
	margin-top:10%;
	background-color:#aaa;
	
}
.dropdown
{
	display:none;
}
.dropdown a
{
	display:block;
}

