body
{
	background-size: 100%,100%, auto;
    /*background-image:url(../images/background.JPG) ;*/
    width:99vw;
    height:100%;
    opacity: .7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#top_frame
{
	margin:5%;
	text-align: center;
	position:relative;
}
#left_frame
{
	padding: 2%;
	text-align: center;
	position:relative;
}
#center_frame
{
	/*margin: 9%;*/
	position: relative;
	padding: 2%;
	text-align: center;
}
#right_frame
{
	padding: 2%;
	text-align: center;
	
}
#bottom_frame
{

	margin:5%;
}
.btnstyle
{
	border-radius: 5px;
    box-sizing: border-box;
    padding-top:3%;
    width:15%;
    cursor: pointer;
    text-align: center;
    font-family: Microsoft JhengHei, Helvetica, sans-serif;
    display: inline-block;
    font-size:30px;
    color:white;
    background-color: brown;
    opacity: .8;
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
    -webkit-transition: transform .5s;
    transition:  transform .5s;
}
.btnstyle:hover
{
	opacity: 1;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari */
    transform: scale(1.05);
     -webkit-transition: opacity .5s,transform .5a;
    transition: opacity .5s,transform .5s;
}

