body
{
	background-size: 100%,100%, auto;
    background-image:url(../images/KKgame_background.jpg) ;
    width:99vw;
    height:100%;
    opacity: .7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#top_frame,#left_frame,#center_frame,#bottom_frame
{
	/*margin:1%;*/
	font-family: monospace;
}
#top_frame
{
	text-align:center;
}
#left_frame
{
	/*color:#ffffff;*/
	position: absolute;
	overflow: hidden;
	left:1%;
	top:10%;
	font-size:20px;
	font-family:monospace;
	font-weight:  bold;
	color:#ddaaff;
}
#left_hidden
{
	position: relative;
	overflow: auto;
	z-index:10;
	margin-left: -100%;
	width:100%;
	height:100%;
	background: #567833;
	color:#aacdd1;
}
#center_frame
{

	/*background:#bc3322;*/
	/*margin-left: 22%;*/
	/*color:#ffffff;*/
	/*text-align:center;*/
}
#center_border
{
	/*border-style: double;*/
	position: relative;
	width:80%;
	height:30vw;
	margin: 0 auto;
	background: #ffffff;
}
#center_screen
{
	position: absolute;
	text-align: center;
	/*left:23%;*/
	right:10%;
	width:80%;
/*	background-color: #abcdee;*/
}
#bottom_frame
{
	/*background:#fa2345;*/
	/*color:#99ffff;*/
	text-align:center;
}
#start_btn,#about_btn
{
	/*margin-bottom: 20%;*/
	margin-left:35%;
	margin-bottom: 5%;
}

#abouttxt,#race_build
{
	margin-top:5%;
	font-family: monospace;
	font-size:24px;

}

.textstyle
{
	font-size:32px;;
	/*background:url(images/send.png) center center no-repeat;*/
	border:1px solid;
	resize:none;
	width:40%;
	height:10%;
	/*margin-top:10%;*/
	/*margin-right: 10%;*/
	margin-bottom: 1%;
	text-align: center;
	
}

.textstyle:hover
{
	border:2px solid #003377;
	background-color: #aabbdc;
	transition: .5s;
}
.textstyle:focus
{
	border:2px solid red;
	background-color: #ffffcc;
	/*top:3px;
	left:3px;*/
	transition: .5s;
}
.textstyle:not(:focus):not(:hover)
{
	border:1px solid;
	transition: .5s;
}

.btnstyle
{
	text-align: center;
	border-radius: 55%;
    box-sizing: border-box;
    padding-top:3%;
    width:20vw;
    cursor: pointer;

    font-family: Microsoft JhengHei, Helvetica, sans-serif;
    font-size:32px;
    color:white;
    background-color: #23399d;
    opacity: .7;
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari */
    transform: scale(1);
    -webkit-transition: transform .5s;
    transition:  transform .5s;
}
.btnstyle:hover
{
	opacity: 1;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari */
    transform: scale(1.05);
     -webkit-transition: opacity .5s,transform .5a;
    transition: opacity .5s,transform .5s;
}
.btnstyle:active
{
	position: relative;
	top:3px;
	left:3px;
}