body
{
	background-color: #0c1551;
	font-family:微軟正黑體;
	font-weight:500;
	/*text-align: left;*/
	text-decoration: none;
	padding: 10px;
}
span
{
	margin-left: 13%;
	margin-right: 13%;
	/*margin-right: 10%;*/
	/*margin: 10%;*/
	padding: 5px;
}

div
{
	margin-left: 100px;
	margin-right: 100px;
	padding:10px;
}
ul
{
	color:#abcdef;
	/*background-color: #123678;*/
}
li
{
	font-size:5;
}
a
{
	margin: 5px;
	color:#ffffff;
}
a:hover
{
	color:#fc3a63;
	position: relative; /* 當滑鼠經過超連結時，超連結往右下位移1像素 */
	top: 1px;
	left: 1px;
}
/*					button1						*/


.Button_outer {
	-moz-box-shadow: -2px -1px 13px 2px #9fb4f2;
	-webkit-box-shadow: -2px -1px 13px 2px #9fb4f2;
	box-shadow: -2px -1px 13px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	border:2px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:17px 65px;
	text-decoration:none;
	text-shadow:-1px -3px 0px #283966;
}
.Button_outer:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.Button_outer:active {
	position:relative;
	top:3px;
	left:3px;
}

/*			button2							*/        
.button_enter {
    -moz-box-shadow:inset 0px 1px 24px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 24px 0px #fff6af;
	box-shadow:inset 0px 1px 24px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:2px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:23px;
	font-weight:bold;
	padding:15px 52px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button_enter:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;

}
.button_enter:active {
	position:relative;
	top:3px;
	left:3px;
}

.loginbg{
    position: fixed;
    left:0;
    top:0;
    width:100vw;
    height: 100vh;
    background-color: black;
    opacity: .6;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.loginpage{
    border-radius: 10px;
    position: fixed;
    width: 30%;
    height: 50%;
    top: 50%;
    left: 50%;
    margin-top: -15%; /* Neegative half of height. */
    margin-left: -15%;
    border-radius: 10px;
    background-color: white;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.loginstyle{
    width:100%;
    flex-direction: column;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}


/*					hidden					*/
#left_hidden
{
	position:fixed;
	top:-5%;
	left:-12%;
	
}
#right_hidden
{
	position:absolute;
	top:0%;
	right:10%;
}

/*					hidden_img						*/
/*left*/
#left_hidden_img 
{
	width: 100%;
	height:100%;
	-webkit-animation-name: Left_auto;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function:ease-in-out;
	animation-name: Left_auto;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;

}
#left_hidden_img:hover 
{
	/*
	width:120%;
	height:120%;*/
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
	transition: 1s;
	
}
#hidden_left_ui
{
	margin-left:-150%;
	position:relative;
}

/*right*/



#right_hidden_img
{
	/*position: fixed;*/
	
	margin-right: 0%;
	width:80px;
	height: 100%;
	/*margin-right: 10%;*/
	-webkit-animation-name: Right_auto;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction:alternate;
	animation-timing-function:ease-in-out;
	animation-name: Right_auto;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction:alternate;

}
#right_hidden_img:hover
{
	/*margin-right:105px;*/
	width:85px;
	height:110%;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
	transition: .5s;
}
#hidden_right_ui
{
	/*margin-right:-100%;*/
	/*overflow: hidden;*/
	
	/*right:-100%;*/
}

/*			hidden_UI	animation			*/

@-webkit-keyframes Left_auto
{
	0%,100% {transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}
@keyframes Left_auto
{
	0%,100% {transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}
@-webkit-keyframes Right_auto
{
	0% { margin-top: 20px; }
  /*25% { margin-top: 80px;  }*/
  50% { margin-top: 160px;width: 100px; }
  /*75% { margin-top: 240px;width: 120px;  }*/
  100% { margin-top: 300px;width: 120px;  }
  

}
@keyframes Right_auto
{
	0% { margin-top: 20px; }
  /*25% { margin-top: 80px;  }*/
  50% { margin-top: 160px;width: 100px;  }
  /*75% { margin-top: 240px;width: 120px;  }*/
  100% { margin-top: 300px;width: 120px;  }
}
/*					CENTER						*/

#word_m
{
	color: #fabc00;
	font: 24px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
}


/*					hover					*/
#title_font
{
	display: block;
	margin: auto;
	text-align: center;
	font-family: Arial, "新細明體", sans-serif;
	font-size: 20px;
	color: #ddaf00;
}
#title_font:hover {
	/*width:120%;*/
	height:110%;
	font-size: 22px;
	color:#eeff00;
	/*background-color: #ffff00;*/
	transition: .8s;
}

/*					frame					*/
#title_frame
{

	/*background-color: #ffffaa;*/
}
#top_frame
{
	margin:30px;
	/*background-color: #eaaa22;*/
}
#center_frame
{ 
	text-align: center;
	/*background-color: #00aaaa; */
}

#bottom_frame
{
	text-align: center; 
	/*background-color: #dddd11; */
}